<html>
<head>
    <title><%= appName %></title>
    <style>
        .w-e-text-container{height: 600px!important;}
    </style>
    <link rel="stylesheet" href="/lib/layui/css/layui.css">

    <script src="/lib/jquery/jquery-1.10.0.min.js"></script>

    <!--layui框架-->
    <script src="/lib/layui/layui.all.js"></script>
    <!--编辑器-->
    <script src="/lib/wangEditor/wangEditor.js"></script>
    <!--moment-->
    <script src="/lib/moment/moment.min.js"></script>
</head>
<body>
    <div class="layui-layout">
        <%- include('../common/menu.ejs'); %>
        <%- include('../page/'+locals.data.tpl); %>
    </div>
</body>
</html>

