<script type="text/javascript">
    window.__DATA =<%- JSON.stringify(locals.data) %>;
    console.log(window.__DATA);
</script>
<div id="app" class="layui-body" style="padding: 0 15px; height: 100%;box-sizing: border-box;margin-bottom:-105px;">
    <!-- 内容主体区域 -->
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend><%= appName%></legend>
    </fieldset>
    <ul class="layui-timeline">
        <li v-for="item in list" class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">
                    <span>{{item.create_time|date('YYYY-MM-DD')}}</span>
                    <b style="font-size: 20px; color: #009688;">{{item.title}}</b>
                    <span>
                        <a :href="'/list/editor?name='+item.title">
                            <i class="layui-icon" style="color: #333;font-size: 22px;"></i>
                        </a>
                    </span>
                </h3>
                <p>
                    {{item.desc}}
                </p>
            </div>
        </li>
    </ul>
</div>
<script src="/dist/js/<%= locals.data.tpl%>.bundle.js"></script>