<div class="layui-body" style="padding: 0 15px; height: 100%;box-sizing: border-box;margin-bottom:-105px;">
    <!-- 内容主体区域 -->
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>管理博客</legend>
    </fieldset>
    <ul class="layui-timeline">
        <% if(locals.data&&locals.data.list){%>
            <% for(var i = 0; i<locals.data.list.length;i++){%>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div href="/2018" class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">
                            <span><%= locals.data.list[i].date%></span>
                            <b style="font-size: 20px; color: #009688;"><%= locals.data.list[i].title%></b>
                            <span>
                                <a href="">
                                    <i class="layui-icon" style="color: #333;font-size: 22px;"></i>
                                </a>
                            </span>
                        </h3>
                        <p>
                            <%= locals.data.list[i].categories%>
                        </p>
                    </div>
                </li>
            <%}%>
        <%}%>

        <!--<li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">过去</div>
            </div>
        </li>-->
    </ul>
</div>
